{% extends 'base.html' %}
{% block title %}
Bienvenue sur DocNutrition !
{% endblock %}

{% block title_page %}Bienvenue sur DocNutrition !{% endblock %}


{% block content %}
<div class="card w-75 mb-3 mx-auto shadow-lg">
    <div class="card-body">
        <p class="card-text text-center">CalorieTracker est une application simple qui vous aide à connaître le nombre de calories dans votre assiette.</p>
        <p class="card-text text-center">Cette plateforme propose divers outils pour faciliter le suivi de votre alimentation et améliorer votre bien-être au quotidien. Profitez d'une expérience intuitive et adaptée à tous les profils.</p>
    </div>
</div>
{% endblock %}